/********************
*project-list component
*********************/
.add-project{
    margin-top: 3em;
}
.add-project i{
    margin-right: .4em;
}
.project-card{
    padding: 10px;
}

/********************
*project-add component
*********************/
.field-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.example-container > * , .btn-container button{
    width: 100%;
}

.btn-container{
    padding: 5%;
    padding-top: 1%;
}

.mr-btn{
    margin-left: .5rem;
}

.td-padding{
    padding-right : 5rem;
}

.mr-btn-m{
    font-size: 0.7em;
}


.mr-btn-add{
    margin-bottom: 1rem;
}

.mat-dialog-content{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.title-popup{
    padding-bottom: 1rem;
}

