<nav>
    <div class="nav-wrapper   grey darken-3">
            <img src="assets/img/logo-Project.png" width="200px" id="img-logo">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a >S'inscrire</a></li>
        <li><a href="badges.html">Connexion</a></li>
        <li>
            <a (click)="Logout()">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

<table>
    <tr>
        <td>
                <h1>Outil de développement <br/> logiciel pour les <br/>équipes Agile</h1><br/>
                <button (click)="openDialogSignUp()" class="btn-large btn-submit"  id="btn">Essayez-le gratuitement</button>
        </td>
        <td>
                <img src="assets/img/imghome.png" width="900px" id="img-top">
        </td>
    </tr>
</table>

