<div class="container-fluid header-content">
    <div class="row">
  
      <div class="col-7">
        <div class="centre-v title-part">
            <h1 class=""> get the color of any pixel or area on the </h1>
            <p class="lead text-definition">
              Plateforme de missions et d'appels d'offres pour 
              freelance et portage salari,Plateforme de missions et d'appels d'offres pour 
              freelance et portage salari
            </p>
            <div class="buttons">
                <a *ngIf="!isConnected" routerLink="/user/signup" class="btn btn-info btn-lg ">  
                    <i class="fas fa-user-tie"></i>
                    Commencer             
                </a>
                <a *ngIf="isConnected" routerLink="/project/project_list" class="btn btn-info btn-lg ">  
                  <i class="fas fa-user-tie"></i>
                  Mes Projets             
              </a>
            </div>          
        </div>        
      </div>
  
      <div class="col-5 img-part ">
        <div class="centre-v img-part-content ">
            <img class="" src="assets/img/imghome.png" width="600px">
        </div>
      </div>  
      
    </div>
</div>  
  
  <div class="container section1-content">
    <div class="row d-flex justify-content-between">
  
      <div class="col-lg-6 col-md-7 ">
          <h2>Le Lorem Ipsum est simplement du faux texte employé</h2>
          <p class="lead">
              On sait depuis longtemps que travailler avec du texte lisible et contenant
               du sens est source de distractions, et emche de se concentrer sur la mise 
               en page elle-me.
          </p>
          <h4>Le Lorem Ipsum est simplement du faux texte employé</h4>
          <ul class="">        
            <li>Source de distractions</li>
            <li>Empèche de se concentrer</li>      
            <li>Lorem Ipsum</li>   
            <li>Depuis longtemps</li>         
          </ul>
      </div>
      <div class="col-lg-6 col-md-5 ">
        <div class="card">
            <img class="card-img" src="assets/img/home/time2.png"/>
        </div>      
      </div>
    </div>    
      
  </div>
  
  <div class="container-fluid section3-content" >
      <div class="row">      
          <div class="col-md-2 col-sm-1"></div>           
          <div class="col-md-8 col-sm-10 ">
            <div class="row">
                <div class="col-md-3 col-6">
                    <img src="assets/img/home/time.png" width="600px"/>
                </div>
                <div class="col-md-9 col-12">
                  <div class="text-content">
                      <h3> Travailler avec du texte lisible </h3>
                      <p class="lead">
                          On sait depuis longtemps que travailler avec du texte lisible 
                          et contenant du sens est source de distractions, 
                          de se concentrer sur la mise en page.
                      </p>
                  </div>                
                </div>            
            </div>          
          </div>
          <div class="col-md-2 col-sm-1 "></div>           
      </div>  
  </div>
  
  <!-- <app-footer></app-footer> -->

