<div *ngIf="alert.isDisplayed" class="d-flex alert alert-danger" role="alert">
    <h5> {{alert.message}}</h5>
</div>
<form [formGroup]="passwordform" (ngSubmit)="onSubmit()">
        <mat-dialog-content>
            <mat-progress-bar *ngIf="isProgressVisible" mode="indeterminate"></mat-progress-bar>
            <div class="container field-container ">
                <mat-form-field>
                    <input matInput type="password" placeholder="Mot de passe actuel" formControlName="old_password" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Mot de passe ancien" formControlName="new_password" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Confirmer le mot de passe" formControlName="confirmed" required>
                </mat-form-field>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>    
            <div class="container btn-container">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-secondary" mat-button mat-dialog-close tabindex="-1">
                            Anuler
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success" mat-button [disabled]="!passwordform.valid" tabindex="1">
                            Sauvgarder
                        </button>
                    </div>
                </div>
            </div>
        </mat-dialog-actions>
    </form>