<div class="container-fluid min-60v ">
    <div class="row mh-100 main-row">
        <div class="col-3">
            <button class="btn btn-lg" (click)="onDailoIssue()"> Add Issue</button>
        </div>
        <div class="col-3 mh-100 actions">
            <div class="card actions" >
                <div class="card-header card-header-todo">
                    <h2 class="text-uppercase  d-flex justify-content-center">à faire</h2>
                </div>
                <div class="card-body">
                    <div class="card card-issue" >
                        <div class="card-header">
                            <h5 class="text-uppercase  d-flex justify-content-center">Isseu 1</h5>
                        </div>
                        <div class="card-body">
                            <span class="badge badge-secondary">New@gmai.com</span>
                            <span class="badge badge-secondary">auth@emai.fr</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card card-issue" >
                        <div class="card-header">
                            <h5 class="text-uppercase  d-flex justify-content-center">Isseu 1</h5>
                        </div>
                        <div class="card-body">
                            <span class="badge badge-secondary">New@gmai.com</span>
                            <span class="badge badge-secondary">auth@emai.fr</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card card-issue" >
                        <div class="card-header">
                            <h5 class="text-uppercase  d-flex justify-content-center">Isseu 1</h5>
                        </div>
                        <div class="card-body">
                            <span class="badge badge-secondary">New@gmai.com</span>
                            <span class="badge badge-secondary">auth@emai.fr</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 mh-100 actions">
            <div class="card actions" >
                <div class="card-header card-header-in-progress">
                    <h2 class="text-uppercase  d-flex justify-content-center">en cours</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3 mh-100 actions">
            <div class="card actions" >
                <div class="card-header card-header-done">
                    <h2 class="text-uppercase  d-flex justify-content-center">terminé</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</div>
