<div class="container-fluid min-60v ">
    <div class="row mh-100 main-row">
            <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-add-issue btn-outline-dark btn-lg"  (click)="onDailoIssue()">
                        <i class="fa fa-plus"></i>Add Issue
                    </button>
                </div>
        <!-- <button class="btn btn-lg" (click)="onDailoIssue()"> </button> -->
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>
        </div>
        <div class="col-3">
            <div class="card actions" >
                <div class="card-header card-header-in-preview">
                    <h2 class="text-uppercase  d-flex justify-content-center">En Aperçu</h2>
                </div>
                <div
                cdkDropList
                #previewList="cdkDropList"
                [cdkDropListData]="preview"
                [cdkDropListConnectedTo]="[todoList,doneList,inProgresseList]"
                (cdkDropListDropped)="drop($event)"
                class="card-body">
                    <div *ngFor="let issue of preview" class="card card-issue" cdkDrag >
                        <div class="card-header">
                            <h5 class="text-uppercase  d-flex justify-content-center">{{issue}}</h5>
                        </div>
                        <div class="card-body">
                            <span class="badge badge-secondary">New@gmai.com</span>
                            <span class="badge badge-secondary">auth@emai.fr</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 mh-100 actions">
            <div class="card actions" >
                <div class="card-header card-header-todo">
                    <h2 class="text-uppercase  d-flex justify-content-center">à faire</h2>
                </div>
                <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[previewList,doneList,inProgresseList]"
                (cdkDropListDropped)="drop($event)" 
                class="card-body">
                    <div *ngFor="let issue of todo" class="card card-issue" cdkDrag >
                        <div class="card-header">
                            <h5 class="text-uppercase  d-flex justify-content-center">{{issue}}</h5>
                        </div>
                        <div class="card-body">
                            <span class="badge badge-secondary">New@gmai.com</span>
                            <span class="badge badge-secondary">auth@emai.fr</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mh-100 actions">
            <div class="card actions" >
                <div class="card-header card-header-in-progress">
                    <h2 class="text-uppercase  d-flex justify-content-center">en cours</h2>
                </div>
                <div
                cdkDropList
                #inProgresseList="cdkDropList"
                [cdkDropListData]="in_progress"
                [cdkDropListConnectedTo]="[previewList,todoList,doneList]"
                (cdkDropListDropped)="drop($event)"
                class="card-body">
                    <div *ngFor="let issue of in_progress" class="card card-issue" cdkDrag >
                        <div class="card-header">
                            <h5 class="text-uppercase  d-flex justify-content-center">{{issue}}</h5>
                        </div>
                        <div class="card-body">
                            <span class="badge badge-secondary">New@gmai.com</span>
                            <span class="badge badge-secondary">auth@emai.fr</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 mh-100 actions">
            <div class="card actions" >
                <div class="card-header card-header-done">
                    <h2 class="text-uppercase  d-flex justify-content-center">terminé</h2>
                </div>
                <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[previewList,todoList,inProgresseList]"
                (cdkDropListDropped)="drop($event)"
                class="card-body">
                    <div *ngFor="let issue of done" class="card card-issue" cdkDrag>
                        <div class="card-header">
                            <h5 class="text-uppercase  d-flex justify-content-center">{{issue}}</h5>
                        </div>
                        <div class="card-body">
                            <span class="badge badge-secondary">New@gmai.com</span>
                            <span class="badge badge-secondary">auth@emai.fr</span>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-secondary btn-sm">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
