<div class="container">
    <div class="row">
        <div class="col-12 add-project d-flex justify-content-center">
            <button class="btn btn-outline-dark btn-lg"  (click)="addProject()">
                <i class="fa fa-plus"></i>Créer un projet
            </button>
        </div>
    </div>
    <h2>Projets</h2>
    <div class="row">
        <div  *ngFor="let project of projects" value="project" class="div col-4 project-card">
            <div class="card" style="width: 18rem;">
                <div class="card-body ">
                    <h4 class="card-title">{{project.title}}</h4>
                    <p class="card-text">{{project.description}}</p>
                    <button class="btn btn-outline-secondary btn-lg" (click)="detailProject(project._id)">Plus de détails</button>
                </div>
            </div>
        </div>
    </div>
</div>