<div class="container">
    <div class="row">
        <div class="col-6" >
            Projets
        </div>
        <div class="col-6" id="button-addP">
            <button class="btn"  (click)="addProject()"><i class="fa fa-plus"></i>Créer un projet</button>
        </div>
    </div>
    <div class="row">
        <!-- <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
            <div>
               Nom du projet<br\>
               description de projet
            </div>
            <p-footer>
                lien vers backlog de produit
            </p-footer>
        </p-card> -->
    </div>
</div>