<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
      Upec Jira
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a *ngIf="!isConnected" class="nav-link nav-link active" routerLink="/user/signup"> S'enregistrer</a>
      <a *ngIf="!isConnected"class="nav-link nav-link active" routerLink="/user/signin">Se connecter</a>
      <a *ngIf="isConnected" class="nav-link nav-link active" routerLink="/project/project_list">Projets</a>
      <a  class="nav-link nav-link active" routerLink="/about">A propos </a>
      <!-- <a *ngIf="isConnected" class="nav-link nav-link active" (click)="onDisconect()" routerLink="">Déconnecter</a> -->
      <!-- <a  class="nav-link nav-link active" (click)="toTest()">toTest()</a> -->
    </div>
    <a *ngIf="isConnected" class="nav-item dropdown" >
      <a class="nav-link nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user"></i> compte
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <button class="dropdown-item pointer" (click)="onDialogProfile()">Profil</button>
        <button class="dropdown-item pointer" (click)="onDialogPassword()">Changer le mot de passe</button>
        <button class="dropdown-item pointer" routerLink="" (click)="onDisconect()">Déconnecter</button>
      </div>
    </a>
  </div>
</nav>