<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
      Upec Jira
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a *ngIf="!isConnected" class="nav-link nav-link active" routerLink="/user/signup"> S'enregistrer</a>
      <a *ngIf="!isConnected"class="nav-link nav-link active" routerLink="/user/signin">Se connecter</a>
      <a *ngIf="isConnected" class="nav-link nav-link active" routerLink="/project/project_list">Projects</a>
      <a *ngIf="isConnected" class="nav-link nav-link active" (click)="onDisconect()" routerLink="">Déconnecter</a>
      <!-- <a  class="nav-link nav-link active" (click)="toTest()">toTest()</a> -->
    </div>
  </div>
</nav>