

<form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <div class="card">
        <div class="card-header">
            <p style="color:white; font-size:17px; ">
                <i  class="fa fa-user fa-1x"></i>
                Authentification
            </p>
        </div>
        <div class="card-body" >
           <div class="container">
                <div class="row">
                    <div class="col-3">
                        Login
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email" required>
                            <mat-error *ngIf="userform.get('email').hasError('required')">
                                Veuillez entrer votre e-mail
                            </mat-error>
                            <mat-error *ngIf="userform.get('email').hasError('email')">
                                E-mail incorrect
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Mot de passe
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
                            <mat-error *ngIf="userform.get('password').hasError('required')">
                                Veuillez entrer votre mot de passe
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button pButton type="submit" class="ui-button-primary" label="S'authentifier" [disabled]="!userform.valid" ></button> 
        </div>
    </div>
</form>

