

/********************
*sprint component
*********************/
.min-60v{
    min-height: 60vh;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.btn-add-issue{
    margin-bottom: .4em;
}

.btn-add-issue i{
    margin-right: .4em;
}
.main-row{
    min-height: 60vh; 
    /* background-color: rgba(255,0,0,0.1); */
}
.actions{
    min-height: 100%; 
    /* background-color: rgba(0,0,255,0.1); */
}
.card-issue{
    margin-bottom: 1em;
}
.card-issue .badge{
    margin-left: 0.4em;
}
.card-header{
    cursor: pointer;
}
.card-header-todo{
    background-color: #ffb0b0;
}
.card-header-in-progress{
    background-color: #9fd688;
}
.card-header-done{
    background-color: #a2a2a2;
}

.mr-btn{
    margin-left: .7rem;
}

/********************
*issu-add component
*********************/
.field-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.example-container > * , .btn-container button{
    width: 100%;
}

.btn-container{
    padding: 5%;
    padding-top: 1%;
}

/********************
*dialog signe to component
*********************/
.titleBox{
    margin-top: 1rem;
}
.signeto-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.signeto-form input{
    font-size: 1.7em;
}
  
.signeto-full-width {
    width: 100%;
}