/********************
*sprint-list component
*********************/
.add-sprint{
    margin-top: 1em;
}
.add-sprint i{
    margin-right: .4em;
}
.sprint-card{
    padding: 10px;
}

/********************
*sprint-add component
*********************/
.field-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.example-container > * , .btn-container button{
    width: 100%;
}

.btn-container{
    padding: 5%;
    padding-top: 1%;
}

.h-10{
    min-height: 25rem;
}

.mat-dialog-content{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.green-card{
    background-color: #cce5cc !important
}

.red-card{
    background-color: #ffb2b2 !important
}

.gray-card{
    background-color: #d8d8d8 !important
}

.margin0-row{
    margin-left: 0px;
    margin-right: 0px;
}

.ui-card-header {
    background-color: red !important;
  }

.margin{
    margin-top: 0.5rem;
}

.margin-bottom{
    margin-bottom: 1rem;
}

.mr-btn{
    margin-left: .7rem;
}


p {
    font-family: Lato;
  }
  
  :host ::ng-deep .custom-toast .ui-toast-message {
      display: flex;
      width: 400px;
      margin-left: 10px;
  }