h1{
    font-size: 1.75rem;
    line-height: 1.18181818;
    font-family: Charlie Display;
}

img{
    position:center;
    text-align: center;
}
td{
    width: 50%;
    height: 100%;
    padding-left: 100px;
    
}