

<table>
    <tr>
        <td style="text-align: center;">
            <h1>Outil de développement logiciel pour les équipes Agile</h1>
            <img src="assets/img/imghome.png" width="600px" id="img-top">
        </td>
        <td >
            <form [formGroup]="userform" (ngSubmit)="onSubmit()">
                <p-fieldset legend="Inscription">
                       <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    Nom
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <input matInput placeholder="Nom" formControlName="lastname" required>
                                        <mat-error *ngIf="userform.get('lastname').hasError('required')">
                                            Veuillez entrer votre nom
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    Prenom
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <input matInput placeholder="Prénom" formControlName="firstname" required>
                                        <mat-error *ngIf="userform.get('firstname').hasError('required')">
                                            Veuillez entrer votre prenom
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    Email
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <input matInput placeholder="Email" formControlName="email" required>
                                        <mat-error *ngIf="userform.get('email').hasError('required')">
                                            Veuillez entrer votre e-mail
                                        </mat-error>
                                        <mat-error *ngIf="userform.get('email').hasError('email')">
                                            E-mail incorrect
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <!-- <label for="nom" class="col-form-label"> -->
                                    Mot de passe
                                <!-- </label> -->
                                </div>
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <input matInput size="69" placeholder="Mot de passe" id="password" formControlName="password" required/>
                                        <mat-error *ngIf="userform.hasError('required', 'password')">
                                            Veuillez entrer votre mot de passe
                                        </mat-error>
                                        <mat-error *ngIf="userform.get('password').hasError('minlength')">
                                            Veuilez entrer au moins 6 caractéres.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <!-- <label for="nom" class="col-form-label"> -->
                                    Confirmation mot de passe
                                <!-- </label> -->
                                </div>
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <input matInput size="69"  placeholder="Confirmation" id="confirmPass" formControlName="confirmPass" [errorStateMatcher]="matcher"/>
                                        <mat-error *ngIf="userform.hasError('notSame')">
                                            Confirmation mot de passe incorrect
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div style="text-align: right">
                                <a  (click)="signIn()" style="text-decoration: underline; color: blue">Vous avez déjà un compte</a>
                                <button pButton type="submit" class="ui-button-primary" label="{{ 'Sinscrire' }}" [disabled]="!userform.valid" ></button> 
                            </div>
                        </div>
                </p-fieldset>
            </form>
        </td>
    </tr>
</table>




