<div class="container main-contente">
    <div class="row main-row">
        <div class="col-2"></div>
        <div class="col-8 vertical-center main-col">
            <form [formGroup]="userform" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="card-header">
                        <h2 class="title-card">
                            <i  class="fa fa-user fa-1x"></i>
                            Inscription
                        </h2>
                    </div>
                    <div class="card-body" >
                        <mat-progress-bar *ngIf="isProgressVisible" mode="indeterminate"></mat-progress-bar>
                        <div class="row">
                                <div class="col-5 display-text-1">
                                    Nom
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <input class="display-text-1" matInput placeholder="Nom" formControlName="lastname" required>
                                        <mat-error *ngIf="userform.get('lastname').hasError('required')">
                                            Veuillez entrer votre nom
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 display-text-1">
                                    Prenom
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <input class="display-text-1" matInput placeholder="Prénom" formControlName="firstname" required>
                                        <mat-error *ngIf="userform.get('firstname').hasError('required')">
                                            Veuillez entrer votre prenom
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 display-text-1">
                                    Email
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <input class="display-text-1" matInput placeholder="Email" formControlName="email" required>
                                        <mat-error *ngIf="userform.get('email').hasError('required')">
                                            Veuillez entrer votre e-mail
                                        </mat-error>
                                        <mat-error *ngIf="userform.get('email').hasError('email')">
                                            E-mail incorrect
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 display-text-1">
                                    <!-- <label for="nom" class="col-form-label"> -->
                                    Mot de passe
                                <!-- </label> -->
                                </div>
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <input class="display-text-1" matInput size="69" placeholder="Mot de passe" id="password" formControlName="password" required/>
                                        <mat-error *ngIf="userform.hasError('required', 'password')">
                                            Veuillez entrer votre mot de passe
                                        </mat-error>
                                        <mat-error *ngIf="userform.get('password').hasError('minlength')">
                                            Veuilez entrer au moins 6 caractéres.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 display-text-1">
                                    <!-- <label for="nom" class="col-form-label"> -->
                                    Confirmation mot de passe
                                <!-- </label> -->
                                </div>
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <input class="display-text-1" matInput size="69"  placeholder="Confirmation" id="confirmPass" formControlName="confirmPass" [errorStateMatcher]="matcher"/>
                                        <mat-error *ngIf="userform.hasError('notSame')">
                                            Confirmation mot de passe incorrect
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div style="text-align: right">
                                <a routerLink="/user/signin" style="text-decoration: underline; color: blue">Vous avez déjà un compte</a>
                                <button pButton type="submit" class="ui-button-primary btn-lg" label="{{ 'Sinscrire' }}" [disabled]="!userform.valid" ></button> 
                            </div>
                    </div>
                </div>
            </form>              
        </div>
        <div class="col-2"></div>
    </div>
</div>


