<div class="container">
    <h2>{{titleOfDailogBox}} </h2>
</div>
<div *ngIf="alert.isDisplayed"  class="d-flex justify-content-between alert alert-danger ml-3 mr-3" role="alert">
    {{alert.message}} 
    <button type="button" (click)="onResendInvitation()" class="btn btn-sm btn-warning">Renvoyer l'invitation</button>
</div>
<form [formGroup]="issueform" (ngSubmit)="onSubmit()">
        <mat-dialog-content>
            <mat-progress-bar *ngIf="isProgressVisible" mode="indeterminate"></mat-progress-bar>
            <div class="container field-container ">
                <mat-form-field>
                    <input matInput placeholder="Intitulé" formControlName="title" required>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Déscription" formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="pickerDeb" formControlName="start_date" placeholder="Date Début">
                    <mat-datepicker-toggle matSuffix [for]="pickerDeb"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDeb></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="pickerFin" formControlName="end_date" placeholder="Date de Fin" >
                    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFin></mat-datepicker>
                </mat-form-field>
                <!-- <mat-form-field >
                    <input matInput placeholder="Etas" formControlName="status" required>
                </mat-form-field> -->
                <mat-form-field *ngIf="!isAddAction">
                    <mat-label>Etas</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let food of status" [value]="food.value">
                        {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="signeto-full-width">
                    <input type="text" placeholder="Choisir un" aria-label="Number" matInput 
                        [matAutocomplete]="auto" formControlName="userEmail">
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of emailsMember" [value]="option">
                        {{option}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <label class="small text-muted">Entrée l'e-mails de la personne</label>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>    
            <div class="container btn-container">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-secondary" mat-button mat-dialog-close tabindex="-1">
                            Anuler
                        </button>
                    </div>
                    <div class="col-6">
                        <button *ngIf="isAddAction" type="submit" class="btn btn-success" mat-button  tabindex="1">
                            Sauvgarder
                        </button>
                        <button *ngIf="!isAddAction" type="submit" class="btn btn-info" mat-button  tabindex="1">
                            Modifie
                        </button>
                    </div>
                </div>
            </div>
        </mat-dialog-actions>
</form>